[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
gspread = "*"
mailchimp3 = "*"
meetup-api = {editable = true,ref = "develop",git = "https://github.com/patcon/meetup-api.git"}
oauth2client = "*"
py-trello = "*"
PyDrive = "*"
pystache = "*"
python-dotenv = "*"
requests = "*"
slackclient = "*"
Jinja2 = "*"
PyGithub = "*"
anki-meetup-memorizer = {editable = true,ref = "master",git = "https://github.com/civictechto/anki-meetup-memorizer.git"}
python-dateutil = "*"
dateparser = "*"

[dev-packages]

[requires]
python_version = "3.6"
